<div class="container p-4">
    <h3 class="text-center">Home page</h3>
    <p class="text-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic maiores molestiae ad aut, laboriosam possimus at
        veritatis recusandae iste vitae non laudantium natus
        perferendis! Autem fugit fuga maiores, doloribus perferendis corrupti dignissimos amet explicabo, dicta nostrum
        dolore at sapiente officia minima, aspernatur sed
        dolorem quia ea itaque eveniet adipisci sequi expedita voluptatum. Ad minus rem quod sed non explicabo veniam
        optio, quas dolores ipsum modi. Saepe qui voluptates
        laudantium dolores.
    </p>
    <br>
    <hr>
    <h5 class="text-center">Ng Container Example</h5>
    <ng-container *ngIf="isProductOnline">
        <div class="row">
            <div class="card p-4 m-2" style="width:18rem;" *ngFor="let product_item of product">
                <h4 class="text-center">{{product_item.name}}</h4>
                <h6 class="text-center">{{product_item.price}}</h6>
            </div>
        </div>
    </ng-container>
</div>